body {
    margin: 0;
    font-family: 'studia';
    color:azure;
}

@font-face {
    font-family: 'avatar';
    src: url('/fonts/Avatar\ Airbender.ttf');
    font-weight: 100;
}

@font-face {
  font-family: 'studia';
  src: url('/fonts/studla__.ttf');
}

.collapsible-content {
  opacity: 1;
  transition: 0.2s;
}

#instruction-box {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
    width: min(max(350px, 40%), 500px);
    font-size: 18px;
    z-index: 0;
}

#instruction-box h2 {
    margin: 0 0 10px;
    font-family: 'avatar';
    font-size: 42px;
}

#instruction-box ol {
    padding-left: 20px;
    margin: 0;
}
#instruction-box p {
    font-size: 18px;
    font-weight:lighter;
}

#instruction-list {
  padding-top: 4px;
}

#x-button {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: rgb(183, 132, 1);
  font-family: 'studia';
  font-size: 20px;
  /* width: 44px; */
  /* height: 44px; */
  text-align: center;
  border: 1px solid black;
  background-color: rgb(228, 216, 141);
  border-radius: 10px;
  z-index: 100;
  padding: 10px;
  transition: 0.2s;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
#x-button:hover {
  cursor: pointer;
}
#x-button:active {
  color: rgb(130, 94, 4);
  background-color: rgb(186, 172, 87);
  /* transform: rotate(50deg); */
  transition: 0.2s;
}

.letter-button {
  max-height: 1.2em;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}